<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">

                    <div class="layui-form-item">
                        <label for="fromUser" class="layui-form-label">
                            <span class="x-red">*</span>发件箱</label>
                        <div class="layui-input-inline">
                            <input type="text" id="fromUser" name="fromUser" required="" lay-verify="email"  class="layui-input"></div>
                             <div class="layui-form-mid layui-word-aux">
                          <span class="x-red">*</span>发件箱需要开启SMTP邮箱服务！
                            </div>
                    </div>


                    <div class="layui-form-item">
                        <label for="subject" class="layui-form-label">
                            <span class="x-red">*</span>主题</label>
                        <div class="layui-input-inline">
                            <input type="text" id="subject" name="subject" required="" lay-verify="required"  class="layui-input"></div>
                    </div>


                     <div class="layui-form-item">
                        <label for="toUser" class="layui-form-label">
                            <span class="x-red">*</span>收件人</label>
                        <div class="layui-input-block">
                            <input type="text" id="toUser" name="toUser" required="" lay-verify="required" class="layui-input"></div>
                            <div class="layui-form-mid layui-word-aux">
                          <span class="x-red">*</span>多个收件箱用 ;号分割！
                            </div>
                    </div>

                <!--    
                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="L_pass" name="pass" required="" lay-verify="pass" autocomplete="off" class="layui-input"></div>
                    </div> -->



                    <div class="layui-form-item layui-form-text">
                        <label for="content" class="layui-form-label">
                         <span class="x-red">*</span>内容</label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入邮件内容" id="content" name="content" class="layui-textarea" lay-verify="required" ></textarea>
                        </div>
                    </div>
               
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
                        <button class="layui-btn layui-btn-warm" lay-filter="send" lay-submit="">发送邮件</button></div>
                </form>
            </div>
        </div>
        <script>layui.use(['form', 'layer','jquery'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

        
                //监听提交
                form.on('submit(send)',
                function(data) {
                    //发异步请求
                    $.post("/email/send", data.field, function(res) {
                        if (typeof(res) == 'string') {
                          res = eval('(' + res + ')')
                        }

                        if (res.errCode === 0) {
                            layer.alert("邮件发送成功", {icon: 6 });
                        } else {
                             layer.alert("邮件发送失败", {icon: 2 });
                        }
                        //return false;
                    }, function(err){
                        console.log(err)
                        layer.alert("邮件发送失败", {icon: 2 });
                    })
                
                });

            });
        </script>
    
    </body>

</html>