<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Golang原生开发的后台管理系统">
    <meta name="keywords" content="golang,webso cket">
    <title>Golang websocket 聊天系统 </title>
    <!-- Favicons -->
    <link rel="icon" href="favicon.ico">
    <!-- Styles -->
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link href="/static/css/normalize.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
<div class="ui">
    <div class="left-menu">
        <form action="#" class="search">
            <input placeholder="search..." type="search" name="" id="">
            <input type="submit" value="&#xf002;">
        </form>
        <menu class="list-friends">
            {{range .users}}
                <li onclick="toggleChat($(this))">
                    <img width="50" height="50" src="/static/images/3.jpg">
                    <div class="info">
                        <div class="user" user_id="{{.Id}}">{{.Name}}</div>
                        <div class="status on"> online</div>
                    </div>
                </li>
            {{end}}
        </menu>
    </div>
    <div class="chat">
        <div class="top">
            <div class="avatar"><img width="50" height="50" src="/static/images/robot.jpg"></div>
            <div class="info">
                <div class="name" user_id="0">聊天机器人</div>
                <div class="hasOnline">online</div>
            </div>
            <i class="fa fa-star"></i></div>
        <ul class="messages">
            {{/*            <li class="i">*/}}
            {{/*                <div class="head"><span class="time">10:13 AM, Today</span> <span class="name">Буль</span></div>*/}}
            {{/*                <div class="message">Привет!</div>*/}}
            {{/*            </li>*/}}
            {{/*            <li class="i">*/}}
            {{/*                <div class="head"><span class="time">10:13 AM, Today</span> <span class="name">Буль</span></div>*/}}
            {{/*                <div class="message">)</div>*/}}
            {{/*            </li>*/}}
            {{/*            <li class="i">*/}}
            {{/*                <div class="head"><span class="time">10:14 AM, Today</span> <span class="name">Буль</span></div>*/}}
            {{/*                <div class="message">М не счастья..</div>*/}}
            {{/*            </li>*/}}
            {{/*            <li class="friend-with-a-SVAGina">*/}}
            {{/*                <div class="head"><span class="name">Юния</span> <span class="time">10:15 AM, Today</span></div>*/}}
            {{/*                <div class="message">чего тебе?</div>*/}}
            {{/*            </li>*/}}
        </ul>
        <div class="write-form">
            <textarea placeholder="输入消息" name="e" id="texxt" rows="2"></textarea>
            <i class="fa fa-picture-o"></i> <i class="fa fa-file-o"></i> <span class="send">发送</span></div>
    </div>
</div>
<script src='/static/js/jquery.min.js'></script>
<script src='/static/js/jquery.nicescroll.js'></script>
<script type="text/javascript">
    function toggleChat(obj) {
        var avatar = obj.find('img').attr('src');
        var name = obj.find('.info .user').text();
        var user_id = obj.find('.info .user').attr('user_id')
        $(".chat .top .avatar img").attr('src', avatar);
        $(".chat .top .info .name").text(name);
        $(".chat .top .info .name").attr('user_id', user_id)
        $(".chat .messages").empty();
    }

    (function () {
        var NYLM, claerResizeScroll, conf, getRandomInt, insertI, lol;

        conf = {
            cursorcolor: "#696c75",
            cursorwidth: "4px",
            cursorborder: "none"
        };

        lol = {
            cursorcolor: "#cdd2d6",
            cursorwidth: "4px",
            cursorborder: "none"
        };

        NYLM = ["I don't understand", "Hello, can I help you", "I'm your helper", "I still need to learn more",
            "You are so handsome", "You are so beautiful", "You're the best", "thank you", ")",
            "Anything else I can do for you", "Well!I can be"];

        getRandomInt = function (min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        };

        claerResizeScroll = function () {
            $("#texxt").val("");
            $(".messages").getNiceScroll(0).resize();
            return $(".messages").getNiceScroll(0).doScrollTop(999999, 999);
        };

        insertI = function () {
            var innerText, otvet;
            innerText = $.trim($("#texxt").val());
            if (innerText !== "") {
                $(".messages").append("<li class=\"i\"><div class=\"head\"><span class=\"time\">" + (new Date().getHours()) + ":" + (new Date().getMinutes()) + " AM, Today</span><span class=\"name\"></span></div><div class=\"message\">" + innerText + "</div></li>");
                claerResizeScroll();
                return otvet = setInterval(function () {
                    $(".messages").append("<li class=\"friend-with-a-SVAGina\"><div class=\"head\"><span class=\"name\">robot  </span><span class=\"time\">" + (new Date().getHours()) + ":" + (new Date().getMinutes()) + " AM, Today</span></div><div class=\"message\">" + NYLM[getRandomInt(0, NYLM.length - 1)] + "</div></li>");
                    claerResizeScroll();
                    return clearInterval(otvet);
                }, getRandomInt(2000, 500));
            }
        };

        sendMsg = function() {
            var msg = $("#texxt").val();
            var chatType = $('.info').find('.name').attr('user_id');

            if (chatType == 0) {
                return insertI(); // robot
            } else {
                var username = $(".chat .top .info .name").text();
                var data = {
                    'event': "0",
                    'username': username,
                    'message': msg,
                }
                ws.send(JSON.stringify(data))
            }
            $("#texxt").val('');
        }

        $(document).ready(function () {
            $(".list-friends").niceScroll(conf);
            $(".messages").niceScroll(lol);
            $("#texxt").keypress(function (e) {
                if (e.keyCode === 13) {
                    sendMsg();
                    return false;
                }
            });
            return $(".send").click(function () {
                sendMsg()
            });
        });

    }).call(this);
</script>
</body>
</html>
<script>
    var ws = new WebSocket("ws://" + document.location.host + "/ws");

    ws.onopen = function (evt) {
        console.log("Connection open ...");
    };

    ws.onmessage = function (evt) {
        console.log("Received Message: " + evt.data);
        //ws.close();
    };

    ws.onclose = function (evt) {
        console.log("Connection closed.");
    }
</script>