<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]--></head>
    
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">

                <input type="hidden"  name="id" value="{{.article.Id}}" />

                    <div class="layui-form-item">
                        <label for="username" class="layui-form-label">
                            <span class="x-red">*</span>文章标题</label>
                        <div class="layui-input-inline">
                            <input type="text" id="title" name="title" required="" lay-verify="required" autocomplete="off" class="layui-input"
                            value="{{.article.Title}}"></div>
                    </div>  

                  <div class="layui-form-item">
                    <label for="cateId" class="layui-form-label">
                        <span class="x-red">*</span>文章栏目</label>
                    <div class="layui-input-inline">
                        <select name="cateId" lay-verify="required">
                         <option value="">请选择</option>
                         {{range .cates}}
                            <option value="{{.Id}}" 
                            {{if eq .Id $.article.Cate_id}} selected {{end}}>
                            {{.Name}}
                        </option>
                         {{end}}
                        </select>
                    </div>
                  </div>

                   <div class="layui-form-item">
                        <label for="username" class="layui-form-label">
                            <span class="x-red">*</span>作者</label>
                        <div class="layui-input-inline">
                            <input type="text" id="author" name="author" required="" lay-verify="required" autocomplete="off" class="layui-input"
                            value="{{.article.Author}}"></div>
                    </div> 


                    <div class="layui-form-item layui-form-text">
                        <label for="desc" class="layui-form-label">描述</label>
                        <div class="layui-input-inline">
                            <textarea placeholder="请输入内容" id="desc" name="desc" class="layui-textarea">{{.article.Content}}</textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="pubdate" class="layui-form-label">
                            发布时间</label>
                        <div class="layui-input-inline">
                            <input type="text" id="pubdate" name="pubdate" required="" lay-verify="required"  class="layui-input" value="{{.article.Pubdate}}"></div>
                    </div>

                    <div class="layui-form-item">
                      <label class="layui-form-label">是否显示</label>
                      <div class="layui-input-block">
                        <input type="radio" name="status" value="1" title="显示" {{if eq .article.Status "1"}} checked="" {{end}}><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>是</div></div>

                        <input type="radio" name="status" value="0" title="不显示" 
                        {{if eq .article.Status "0"}} checked="" {{end}}><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i><div>否</div></div>
                      </div>
                    </div>
           
                   
     
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="add" lay-submit="add">确认发布</button></div>
        </form>
        </div>
        </div>
        <script>layui.use(['form', 'layer', 'laydate'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;
                var laydate = layui.laydate;

                // 发布时间监听
                laydate.render({
                    elem: '#pubdate', // 发布时间
                    trigger: "click",
                    theme: 'grid',
                    // value: new Date()
                });

            
                //监听提交
                form.on('submit(add)',
                function(data) {
                    console.log(data);
                    
                    $.post("/article/add", data.field, function(res) {
                        console.log(res)
                        if (typeof(res) == 'string') {
                          res = eval('(' + res + ')')
                        }
                        if (res.errCode === 0) {
                            layer.msg('发布文章成功!',{icon:1, time:1000});
                        } else {
                            layer.msg(res.msg, {icon:2, time:1000});
                        }
                        xadmin.close();
                        xadmin.father_reload();
                        return false;
                    })
                });

            });</script>
       
    </body>

</html>